.results-wrapper {
  position: relative;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  z-index: 0;
  padding-bottom: clamp(1rem, 5vw, 1rem); 
}

.results-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./result_bg.jpg'); 
  background-repeat: repeat;
  background-size: auto; 
  opacity: 0.3; 
  z-index: -1;
  pointer-events: none;
}

.middle-container {
  display: flex;
  margin-top: 2.6vw;        
  padding: 0 4.2vw;         
  gap: 1.04vw;              
  flex-wrap: wrap;
}

.input-box {
  min-width: 51vw;            
  min-height: 23vw;          
  background: #F9E8F0;
  border: 0.05vw solid #B2B2B2; 
  border-radius: 0.42vw;    
  padding: 0.78vw;          
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  backdrop-filter: blur(6px);
  box-sizing: border-box;
}

textarea::placeholder {
  color: #000;
}

.news-input {
  flex: 1;
  resize: none;
  border: none;
  background: transparent;
  font-size: 1.125vw; 
  color: #000;
  outline: none;
}

.check-button {
  width: 11.8vw;            
  height: 2.5vw;           
  border: none;
  border-radius: 0.31vw;    
  background-color: #3F367D;
  color: white;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.5vw;        
  padding: 0.2vw 3.54vw;    
  cursor: pointer;
  align-self: flex-end;
}

.result-box {
  width: 37.8vw;
  min-height: 23vw;
  background: #F9E8F0;
  border: 0.06vw solid #D2D2D2; 
  border-radius: 0.47vw;    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.result-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 10vw;
  line-height: 100%;
  color: #000;
}

.result-subtext {
  font-size: 1.5vw;
  color: #000;
}

.source {
  padding-left: 4.2vw;      
  padding-right: 4.2vw;
  padding-top: 2.6vw;       
  padding-bottom: 2.6vw;
  border-radius: 1.04vw;    
  box-sizing: border-box;
}


.source_heading {
  font-family: 'Nuosu SIL', serif;
  font-weight: 400;
  font-size: 2.5vw; 
  line-height: 100%;
  color: #131313;
  margin: 0;
  text-align: left;
}

.source-line {
  border: none;
  border-top: 0.05vw solid #000000; 
  padding-left: 4.2vw;
  padding-right: 4.2vw;
  margin: 0 auto;
  box-sizing: border-box;
}

.source_content_container{
  height: auto;
  background-color: #F9E8F0;
  border: 0.06vw solid #AFA6A8; 
  border-radius: 1.04vw;
  backdrop-filter: blur(10px);
  padding: 1.3vw; 
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.52vw; 
  justify-content: center;
  text-align: left;
  font-family: 'Roboto', serif;
  font-size: 1.2vw;
  line-height: 100%;
  letter-spacing: 0%;
  line-height: 1.2;
}

.source_content{
  margin-top: 1.45vw;
  box-sizing: border-box;
}