.footer {
  width: 100%;
  height: 12.8vw;
  background: linear-gradient(90deg, #E78FC0 0%, #088685 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 14vw;
  box-sizing: border-box;
}

.footer-left {
  width: 27vw;  
  height: 12vw;  
  object-fit: contain;
}

.footer-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer-right {
  display: flex;
  gap: 3.5vw;
  align-items: center;
}


.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-icon.insta img {
  width: 3.5vw; 
  height: 4vw;
}

.footer-icon.youtube img {
  width: 3vw; 
  height: 3.4vw; 
}

.footer-icon.linkedin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon.linkedin img {
  width: 3.3vw;  
  height: 3.3vw;
}

.footer-icon.medium img {
  width: 4.5vw;  
  height: 3.3vw;
}

.footer-icon.github img {
  width: 3.6vw;  
  height: 3.6vw; 
}

